* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  /* or Poppins, Roboto */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: rgb(238, 236, 236);
  color: #222;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}