/* Common Style */
.Layout-Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Button {
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: #0d73f4;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.Todo-Icons {
    padding: 0;
}

ul li {
    list-style: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.checkbox-container span:hover {
    background-color: #d9ebf3;
    transform: scale(1.1);
}

.checkbox-container input {
    display: none;
}

/* Checkbox shape */
.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* Add checkmark when checked */
.checkbox-container input:checked+.custom-checkbox::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Change background color on checked */
.checkbox-container input:checked+.custom-checkbox {
    background-color: #0d73f4;
    border-color: #0d73f4;
}

.Todo-Nav-Links {
    color: #0d73f4;
    font-size: 1.2rem;
    text-decoration: 2px solid underline;
}

.Todo-Nav-Links:hover {
    transform: scale(1.2);
    text-decoration: none;

}

/* ############################################################################################### */

/* Nav Bar */

.Auth-Navbar {

    max-width: 100%;
    padding: 10px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    border-radius: 20px;
    background-color: white;
    flex-wrap: wrap;
    min-height: 90px;
}

.Logo {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 10px 10px 10px;
    padding-bottom: 0;
    min-width: 25%;

}

.Nav-Menu {
    min-width: 50%;
    display: flex;
    justify-content: end;
}

.Nav-List {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 1.5rem;
    padding-top: 15px;
}

.Nav-List li {
    background-color: #0d73f4;
    border-radius: 10px;
    padding: 7px 15px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;

}

.Nav-List li:hover {
    transform: scale(1.1);
}


.Nav-List li i {
    margin-right: 10px;
}

.Profile {
    padding: 0 15px 0px 10px;
    color: #51a6e3;
    background-color: #d9ebf3;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    position: relative;

}

.Profile-icon {
    cursor: pointer;
    font-size: 1.3rem;
}


.Profile-Menu {
    position: absolute;
    background-color: white;
    border: 2px solid #d9ebf3;
    border-radius: 15px;
    top: 90%;
    left: -10px;
    width: 120%;
    z-index: 50;
    display: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 5px;

}

.Profile-Menu p {
    padding: 0 0 0 15px;
}

.Profile-icon:hover,
.Profile-Menu p:hover,
.Profile-Menu a:hover {
    color: #0d73f4;
    font-weight: bold;
    cursor: pointer;
    background-color: #d9ebf3;
    border-radius: 10px;
}


.Profile:hover .Profile-Menu {
    display: block;
    transition: ease-in-out;
}

/* ############################################################################### */

/* Login Form */
.Login-Container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    gap: 40px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 0 30px;
}

.Login h1 {
    font-size: 3rem;
}

.Login-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.Login-Form form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.Login-Form input {
    padding: 15px 20px;
    border: 1px solid gray;
    border-radius: 10px;

}

.Login-Links {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 20px;
    font-size: 1.2rem;
}

.Login-Links ul {
    display: flex;
    list-style: None;
    justify-content: end;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.Login-Links ul li {
    color: #0d73f4;
    cursor: pointer;
}

.Login-Links ul li:hover {
    transform: scale(1.2);
}


/* ############################################################################### */

/* Todo List */

.Todo-Container {
    display: flex;
    height: calc(100vh - 95px);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 30px;
    background-color: white;
    border: 2px solid gray;
    margin: 0 40px;
}

.Todo {
    height: calc(100vh - 95px);
    width: 100%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}


.Todo-Tab {
    border-bottom: 2px solid gray;
    width: 95%;
    margin: auto;
    height: 70px;
    align-items: center;
    display: flex;
}

.Tab-Menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
}

.Active {
    color: #0d73f4;
    border-bottom: 3px solid #0d73f4;
    transform: scale(1.1);
}

.Tab-Menu a {
    font-size: 2rem;
}


.Tab-Menu a:hover {
    color: #0d73f4;
    border-bottom: 3px solid #0d73f4;
    transform: scale(1.1);
}


.Todo-Body {
    flex: 1;
    overflow-y: scroll;
}

.Todo-Body::-webkit-scrollbar {
    width: 10px;

}

.Todo-Body::-webkit-scrollbar-thumb {
    background: #0d73f4;
    border-radius: 5px;
}

.Todo-Body::-webkit-scrollbar-track {
    background-color: transparent;
}

.Todo-Item {
    /* background-color: rgb(225, 218, 218); */
    margin: auto;
    margin-top: 10px;
    height: 150px;
    width: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-bottom: 1px solid gray;
}

.Todo-Item-Header {
    flex: 10;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Todo-Item-Title {
    display: flex;
    gap: 20px;
    align-items: center;
}

.Todo-Item-Title h1 {
    cursor: pointer;
}

.Todo-Item-Title h1:hover {
    cursor: pointer;
    color: #0d73f4;
    transform: scale(1.02);
}

.Todo-Item-Body {
    flex: 20;
    margin-left: 70px;
    margin-right: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

.Todo-Item-Footer {
    flex: 9;
    margin-left: 70px;
}

.Todo-Action {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}

.Todo-Action-Items i {
    padding: 10px;
}

.Todo-Action-Items i {
    margin: auto;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.Todo-Action-Items i:hover {
    color: #0d73f4;
    background-color: #d9ebf3;
    transform: scale(1.2);
}

.Trash {
    position: relative;
}

.Trash i:hover {
    color: red;
}

.Confirm-Popup {
    position: absolute;
    right: 10px;
    left: -200px;
    top: 30px;
    background: white;
    border: 1px solid #ddd;
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.btn-confirm {
    background: #dc3545;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    /* font-size: medium; */
}

.btn-cancel {
    background: #e0e0e0;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    /* font-size: medium; */
}

.btn-confirm:hover,
.btn-cancel:hover {
    transform: scale(1.25);
}

/* ######################################################################################### */

/* Show Todo */

.Show-Todo-Container {
    display: flex;
    min-height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 40px 0;
}

.Show-Todo {
    min-height: 30%;
    width: 70%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
}

.Show-Todo-Header {
    flex: 10;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Show-Todo-Body {
    flex: 81;
    margin-left: 70px;
    margin-right: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    text-align: start;
    overflow-y: scroll;
}

.Show-Todo-Footer {
    flex: 20;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}


.Show-Todo-Footer a {
    color: #0d73f4;
    font-size: 1.2rem;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    font-weight: bold;

}

.Show-Todo-Footer a:hover {
    text-decoration: none;
    font-size: 1.3rem;
}

/* ################################################################################################# */

/* Loading */

.Loading-Container {
    display: flex;
    min-height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 10% 0;

}

.Loading {
    min-height: 50%;
    width: 50%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.Loading h1 {
    color: #0d73f4;
}

/* Todo Form */

.Todo-Form {
    display: flex;
}


.Todo-Form div label {
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
}

.Todo-Form div input,
.Todo-Form div textarea {
    width: 100%;
}

.Todo-Form div textarea {
    resize: inherit;
    border-radius: 10px;
    padding: 10px;
}


/* ##################################################################################### */

/* Error Boundary */

.Error-Container {
    padding: 30px;
    background: #fff3f3;
    border: 1px solid #ffcccc;
    border-radius: 8px;
    margin: 20px;
}

.Error-Container h1 {
    color: #cc0000;
}

.Error-Container p {
    margin-top: 10px;
}

/* ##################################################################################### */

/* Signup */

.Resend-Otp {
    color: rgb(19, 199, 19);
    font-weight: bold;
    width: 100%;
}

.Resend-Otp-Error {
    color: red;
    font-weight: bold;
    width: 100%;
}